extends ../../layouts/default.pug
include ../../mixins/page-header.pug
include ../../mixins/search.pug
include ../../mixins/filter-status.pug
include ../../mixins/sort.pug
include ../../mixins/pagination.pug
include ../../mixins/batch-actions.pug

block main
  div(data-crud=`${prefixAdmin}/products` data-entity-name="sản phẩm" style="display:none")
  +pageHeader("Danh sách sản phẩm", "Quản lý tất cả sản phẩm trong hệ thống")
    if userPermissions && userPermissions.includes("products_create")
      a.btn.btn-add-product(href=`${prefixAdmin}/products/create`)
        i.fas.fa-plus.mr-2
        | Thêm sản phẩm

  //- Filter bar
  .admin-filter-bar.mb-4
    .row.align-items-center
      +search(keyword)
      +filter-status(filterStatus)
      +sort(sortOptions)
      .col-md-2
        .d-flex.gap-2
          if userPermissions && (userPermissions.includes("products_edit") || userPermissions.includes("products_delete") || userPermissions.includes("products_change-status"))
            +batch-actions()

  //- Products Table
  .admin-table-wrapper
    if products && products.length > 0
      table.admin-table
        thead
          tr
            if userPermissions && (userPermissions.includes("products_edit") || userPermissions.includes("products_delete") || userPermissions.includes("products_change-status"))
              th.col-check
                input.form-check-input(type="checkbox" id="checkAll")
            th.col-stt STT
            th.col-img Hình ảnh
            th.col-title Tên sản phẩm
            th.col-price Giá / Giá đặc biệt
            th.col-category Danh mục
            th.col-category Thương hiệu
            th.col-position Vị trí
            th.col-stock Số lượng
            th.col-status Trạng thái
        tbody
          each product, index in products
            tr.animate-in
              if userPermissions && (userPermissions.includes("products_edit") || userPermissions.includes("products_delete") || userPermissions.includes("products_change-status"))
                td.col-check
                  input.form-check-input.checkbox-item(type="checkbox" name="id" value=product._id)
              td.col-stt= pagination.skip + index + 1
              td.col-img
                if product.thumbnail
                  img.product-thumb(src=product.thumbnail alt=product.title)
                else
                  .product-thumb-placeholder
                    i.fas.fa-image 
              td.col-title
                .product-title-cell
                  span.product-name= product.title
                  if product.featured
                    span.badge-featured Nổi bật
                .product-hover-actions
                  if userPermissions && userPermissions.includes("products_edit")
                    a.hover-action-link.hover-action-edit(href=`${prefixAdmin}/products/edit/${product._id}`) Sửa
                  a.hover-action-link.hover-action-detail(href=`${prefixAdmin}/products/detail/${product._id}`) Chi tiết
                  if userPermissions && userPermissions.includes("products_change-status")
                    if product.status === "active"
                      a.hover-action-link.hover-action-status.btn-change-status(href="javascript:void(0)" data-id=product._id data-status="active") Dừng hoạt động
                    else
                      a.hover-action-link.hover-action-status.btn-change-status(href="javascript:void(0)" data-id=product._id data-status="inactive") Hoạt động
                  if userPermissions && userPermissions.includes("products_delete")
                    a.hover-action-link.hover-action-danger(href="javascript:void(0)" data-id=product._id) Xoá
              td.col-price
                if product.discountPercentage > 0
                  span.price-text= `${product.price.toLocaleString()} / ${(Math.round(product.price * (1 - product.discountPercentage / 100) / 1000) * 1000).toLocaleString()}`
                else
                  span.price-text= `${product.price.toLocaleString()}`
              td.col-category
                if product.product_category_id && categoryMap[product.product_category_id]
                  span.category-tag= categoryMap[product.product_category_id]
                else
                  span.text-muted --
              td.col-category
                if product.brand_id && brandMap[product.brand_id]
                  span.category-tag= brandMap[product.brand_id]
                else
                  span.text-muted --
              td.col-position
                input.position-input(type="number" value=product.position data-id=product._id min="1")
              td.col-stock
                span.stock-badge(class=product.stock > 0 ? "in-stock" : "out-stock")= product.stock
              td.col-status
                if product.status === "active"
                  span.status-badge.status-active Hoạt động
                else
                  span.status-badge.status-inactive Dừng hoạt động
    else
      .admin-empty-state
        i.fas.fa-box-open
        h4 Chưa có sản phẩm nào
        p Bắt đầu thêm sản phẩm đầu tiên cho cửa hàng của bạn
        if userPermissions && userPermissions.includes("products_create")
          a.btn.btn-add-product(href=`${prefixAdmin}/products/create`)
            i.fas.fa-plus.mr-2
            | Thêm sản phẩm

  //- Pagination
  +pagination(pagination)

block append scripts
  script(src="/admin/js/admin-crud.js")
